[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  VITE_SUPABASE_URL = "https://mfpyyriilflviojnqhuv.supabase.co"
  VITE_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1mcHl5cmlpbGZsdmlvam5xaHV2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzAyMTk0ODcsImV4cCI6MjA4NTc5NTQ4N30.eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
